.f-proc-root {
  border-radius: 5px;
  background-color: #ffffff;
  box-sizing: border-box;
  color: rgb(29, 29, 29);
  border: 1px solid gray;
  padding: 50px 10px 20px 10px;
}

.f-proc-root-active {
  border: 3px solid #0f253e;
}

.f-proc-root-decision {
  width: 120px;
  height: 120px;
  border-radius: 40px;
  background-color: #a9377f;
}

.f-proc-inner {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  display: flex;
}

.f-proc-logo-wrapper {
  position: absolute;
  top: -50px;
  left: -10px;
}

.f-proc-logo {
  margin: 10px 10px;
}

.f-proc-title {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 40px;
  top: 6px;
  min-width: 300px;
}

.f-proc-top-icons-wrapper {
  position: absolute;
  right: 10px;
  top: -80px;
  color: #4f4f4f;
}

.f-proc-left-icons-wrapper {
  background-color: #fff;
  position: absolute;
  left: -50px;
  top: 10px;
  color: #4f4f4f;
}

.f-proc-right-icons-wrapper {
  background-color: #fff;
  position: absolute;
  right: -50px;
  top: 10px;
  color: #4f4f4f;
}
